{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}


{% block content %}
    
    <div class="min-h-screen flex items-center justify-center">
        <form class="flex flex-col bg-gray-100 px-2 rounded-lg outline-1 lg:px-10 lg:py-3 lg:w-3/5" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="text-lg mb-2 text-center">Register</p>

            
            {% for field in user_form %}
                <div class="flex flex-col gap-1 mb-1">
                    <label for="{{ field.id_for_label}}"> {{ field.label}}</label>
                    {{ field}}
                    
                    {% if field.errors %}
                        <p class="text-red-500">{{ field.errors }}</p>
                    {% endif %}
                        
                </div>
            {% endfor %}

            <!--profile form-->
            {% for field in profile_form %}
                <div class="flex flex-col gap-1 mb-1">
                    <label for="{{ field.id_for_label}}"> {{ field.label}}</label>
                    {{ field}}
                    
                    {% if field.errors %}
                        <p class="text-red-500">{{ field.errors }}</p>
                    {% endif %}
                        
                </div>
            {% endfor %}
                

            <button type="submit" class=" bg-green-500 text-white py-2 rounded-lg hover:bg-green-700 mb-3">Register</button>

            
            <div class="text-center">
            Already Have an Account? 
            <a href="{% url 'login' %}" class="text-lg text-blue-300 hover:text-blue-600 hover:cursor-pointer">Login</a>
            </div>

        </form>
    </div>

{% endblock content %}
    